* {
  box-sizing: border-box;
}

.rectangle24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #597a9c;
  padding-right: 1px;
  padding-bottom: 6px;
  width: 256px;
  height: 285px;

  .iMg24851 {
    border-radius: 10px 10px 0px 0px;
    width: 256px;
    height: 222px;
  }

  .sIseciudad1 {
    margin-top: 8px;
    width: 102px;
    height: 49px;
  }
}
