* {
  box-sizing: border-box;
}

.group100 {
  display: flex;
  align-items: flex-start;
  padding-right: 2px;
  padding-left: 6px;
  width: 944px;
  height: 276px;

  .rectangle63 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    margin-top: -27px;
    background: #d9d9d9;
    padding-top: 27px;
    padding-bottom: 24px;

    .suNombreCompleto {
      width: 212px;
      height: 12px;
      line-height: 15px;
      letter-spacing: 0;
      color: #b3b3b3;
      font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
    }

    .datosDeContacto {
      width: 936px;
      height: 36px;
      text-align: center;
      line-height: 26px;
      letter-spacing: 0;
      color: #00408c;
      font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 700;
    }

    .group97 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 20px 120px 0px 116px;

      .nombre {
        width: 212px;
        height: 12px;
        line-height: 16px;
        letter-spacing: 0;
        color: #00408c;
        font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
      }

      .rectangle57 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 9px;
        border: 1px solid #1e1e1e;
        border-radius: 10px;
        background: #ffffff;
        padding: 7px 474px 7px 14px;
      }
    }

    .group96 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 15px 120px 0px 116px;

      .telFono {
        line-height: 16px;
        letter-spacing: 0;
        color: #00408c;
        font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
      }

      .rectangle61 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 5px;
        border: 1px solid #1e1e1e;
        border-radius: 10px;
        background: #ffffff;
        padding: 7px 474px 7px 14px;
      }
    }

    .autoWrapper {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 31px;
      padding-right: 1px;
      padding-left: 0;

      .group85 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 2px;
        width: 84px;
        min-width: 84px;

        .vector {
          margin-top: 2px;
          width: 18px;
          height: 11px;
          rotate: 90deg;
        }

        .volver {
          width: 64px;
          height: 16px;
          text-align: center;
          line-height: 19px;
          letter-spacing: 0;
          color: #00408c;
          font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 500;
        }
      }

      .group98 {
        display: flex;
        align-items: center;
        padding-top: 1px;
        padding-bottom: 1px;
        width: 85px;

        .enviar {
          width: 66px;
          height: 16px;
          text-align: center;
          line-height: 19px;
          letter-spacing: 0;
          color: #00408c;
          font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 500;
        }

        .vector2 {
          margin-left: 4px;
          width: 18px;
          height: 11px;
          rotate: -90deg;
        }
      }
    }
  }
}
