* {
  box-sizing: border-box;
}

.cIudad {
  width: 74px;
  height: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
