* {
  box-sizing: border-box;
}

.gRuposisesacuit30715 {
  width: 334px;
  height: 94px;
  line-height: 19px;
  letter-spacing: 0;
  color: #ffffff;
  font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
