* {
  box-sizing: border-box;
}

.group69 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 210px;
  height: 240px;

  .cOmercio {
    line-height: 18px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .autoWrapper {
    position: relative;
    width: 210px;
    height: 80px;

    .rectangle21 {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.8;
      background: #0857b5;
      width: 210px;
      height: 80px;
    }

    .eMpresas {
      position: absolute;
      top: 32px;
      left: 53px;
      width: 104px;
      height: 18px;
      line-height: 18px;
      letter-spacing: 1px;
      color: #ffffff;
      font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .rectangle19 {
    display: flex;
    align-items: center;
    align-self: stretch;
    background: #00408c;
    padding: 31px 51px 31px 52px;
  }

  .rectangle20 {
    display: flex;
    align-items: center;
    align-self: stretch;
    background: #00408c;
    padding: 31px 52px 31px 53px;
  }

  .vector3 {
    position: absolute;
    top: 117px;
    left: 105px;
    background: #ffffff;
    width: 1px;
    height: 87px;
    rotate: -90deg;
  }
}
