* {
  box-sizing: border-box;
}

.aFipFormulario960D {
  width: 147px;
  height: 16px;
  text-align: right;
  line-height: 15px;
  letter-spacing: 0;
  color: #ffffff;
  font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
