* {
  box-sizing: border-box;
}

.siseHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 1920px;
  height: 3110px;
  overflow: hidden;

  .rectangle1 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: #00408c;
    padding-right: 240px;

    .aguila1 {
      width: 136px;
      height: 80px;
    }

    .recurso11 {
      margin-top: 16px;
      margin-left: 108px;
      width: 85px;
      height: 50px;
    }

    .hOgar {
      margin: 32px 0px 0px 105px;
      line-height: 18px;
      letter-spacing: 1px;
      color: #ffffff;
      font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 700;
    }

    .vector2 {
      margin-top: 28px;
      margin-left: 53px;
      background: #ffffff;
      width: 1px;
      height: 26px;
    }

    .eMpresas {
      margin: 32px 0px 0px 52px;
      line-height: 18px;
      letter-spacing: 1px;
      color: #ffffff;
      font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .autoWrapper {
    position: relative;
    width: 1920px;
    height: 800px;

    .rectangle2 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      background: #00408c;
      width: 1920px;
      height: 800px;

      .familiaJovenSusHijos {
        opacity: 0.9;
        width: 1920px;
        height: 800px;
      }
    }

    .rectangle3 {
      position: absolute;
      bottom: -154px;
      left: 154px;
      width: 800px;
      height: 1108px;
      rotate: -90deg;
      background-image: linear-gradient(
        180deg,
        #00408c 0%,
        #00408c80 50%,
        #ffffff00 100%
      );
    }

    .solucionesEnSegurida3 {
      position: absolute;
      top: 470px;
      left: 366px;
      width: 944px;
      height: 102px;
      line-height: 52px;
      letter-spacing: 0;
      color: #ffffff;
      font-size: 64px;

      .solucionesEnSegurida {
        line-height: 52px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 64px;
      }

      .solucionesEnSegurida2 {
        line-height: 52px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 64px;
        font-weight: 700;
      }
    }
  }

  .cotizTuAlarma {
    margin: 67px 0px 0px;
    width: 524px;
    height: 57px;
    text-align: center;
    line-height: 52px;
    letter-spacing: 0;
    color: #00408c;
    font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 700;
  }

  .cOtizadoronlinesoloa {
    margin: 15px 0px 0px;
    width: 944px;
    height: 38px;
    text-align: center;
    line-height: 26px;
    letter-spacing: 0;
    color: #00408c;
    font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 32px;
  }

  .rectangle8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin: 28px -26px 0px;
    background: #d9d9d9;
    padding: 33px 514px 64px;

    .casa {
      position: absolute;
      top: 12px;
      left: 0;
      width: 212px;
      height: 15px;
      text-align: center;
      line-height: 19px;
      letter-spacing: 0;
      color: #00408c;
      font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
    }

    .rectangle57 {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
      background: #ffffff;
      width: 212px;
      height: 40px;
    }

    .tipoDePropiedad {
      width: 944px;
      height: 17px;
      text-align: center;
      line-height: 16px;
      letter-spacing: 0;
      color: #00408c;
      font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
    }

    .aDNdeQuerSInstalarLa {
      margin: 17px 0px 0px;
      width: 944px;
      height: 38px;
      text-align: center;
      line-height: 26px;
      letter-spacing: 0;
      color: #00408c;
      font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 700;
    }

    .group84 {
      position: relative;
      margin-top: 15px;
      width: 212px;
      height: 40px;
    }

    .group83 {
      position: relative;
      margin-top: 14px;
      width: 212px;
      height: 40px;
    }

    .group82 {
      position: relative;
      margin-top: 14px;
      width: 212px;
      height: 40px;

      .departamento {
        position: absolute;
        top: 12px;
        left: 1px;
        width: 211px;
        height: 15px;
        text-align: center;
        line-height: 19px;
        letter-spacing: 0;
        color: #00408c;
        font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
      }
    }

    .group81 {
      position: relative;
      margin-top: 14px;
      width: 212px;
      height: 40px;

      .oficina {
        position: absolute;
        top: 12px;
        left: 0;
        width: 212px;
        height: 16px;
        text-align: center;
        line-height: 19px;
        letter-spacing: 0;
        color: #00408c;
        font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
      }
    }
  }

  .autoWrapper3 {
    position: relative;
    margin-top: 30px;
    width: 1920px;
    height: 1295px;

    .iMg24851 {
      border-radius: 10px 10px 0px 0px;
      width: 256px;
      height: 222px;
    }

    .rectangle19 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      background: #00408c;
      padding: 165px 360px 745px 373px;
      width: 1920px;
      height: 1295px;

      .aPorQuElegirSise {
        margin: 0px 0px 0px 297px;
        width: 592px;
        height: 57px;
        text-align: center;
        line-height: 52px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 64px;
        font-weight: 700;
      }

      .autoWrapper2 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 54px;
        padding-right: 0;
        padding-left: 0;

        .rectangle64 {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 10px;
          background: #ffffff;
          padding: 35px 35px 43px 34px;

          .iconoCamara11 {
            width: 63px;
            height: 55px;
          }

          .monitoreo247Real {
            margin: 25px 0px 0px;
            width: 194px;
            height: 54px;
            text-align: center;
            line-height: 26px;
            letter-spacing: 0;
            color: #00408c;
            font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 32px;
            font-weight: 500;
          }

          .operadoresEspecializ {
            margin: 13px 0px 0px;
            width: 263px;
            height: 49px;
            text-align: center;
            line-height: 16px;
            letter-spacing: 0;
            color: #00408c;
            font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
          }
        }

        .rectangle66 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 10px;
          background: #ffffff;
          padding: 21px 39px 43px 36px;

          .iconoCelular11 {
            margin-left: 110px;
            width: 40px;
            height: 82px;
          }

          .tecnologADeLtimaGene {
            margin: 12px 0px 0px;
            width: 257px;
            height: 54px;
            text-align: center;
            line-height: 26px;
            letter-spacing: 0;
            color: #00408c;
            font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 32px;
            font-weight: 500;
          }

          .solucionesModernasFc {
            margin: 13px 0px 0px 27px;
            width: 202px;
            height: 49px;
            text-align: center;
            line-height: 16px;
            letter-spacing: 0;
            color: #00408c;
            font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
          }
        }

        .rectangle65 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 10px;
          background: #ffffff;
          padding: 31px 48px 43px 51px;

          .iconoGuardiaVirtual1 {
            margin-left: 90px;
            width: 52px;
            height: 62px;
          }

          .respuestaRPidaYHuman {
            margin: 22px 0px 0px 2px;
            width: 230px;
            height: 54px;
            text-align: center;
            line-height: 26px;
            letter-spacing: 0;
            color: #00408c;
            font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 32px;
            font-weight: 500;
          }

          .actuamosAlInstanteAn {
            margin: 13px 0px 0px;
            width: 234px;
            height: 49px;
            text-align: center;
            line-height: 16px;
            letter-spacing: 0;
            color: #00408c;
            font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
          }
        }
      }
    }

    .guardaSise1 {
      position: absolute;
      top: 710px;
      right: -7px;
      opacity: 0.4;
      width: 1934px;
      height: 142px;
    }

    .guardaSise2 {
      position: absolute;
      top: 856px;
      right: -7px;
      opacity: 0.4;
      width: 1934px;
      height: 142px;
    }

    .guardaSise3 {
      position: absolute;
      top: 1002px;
      right: -7px;
      opacity: 0.4;
      width: 1934px;
      height: 142px;
    }

    .guardaSise4 {
      position: absolute;
      top: 1148px;
      right: -7px;
      opacity: 0.4;
      width: 1934px;
      height: 142px;
    }

    .rectangle24 {
      display: flex;
      position: absolute;
      top: 847px;
      left: 1421px;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      background: #597a9c;
      padding-right: 1px;
      padding-bottom: 6px;
      width: 256px;
      height: 285px;

      .sIseciudad1 {
        margin-top: 8px;
        width: 102px;
        height: 49px;
      }
    }

    .rectangle21 {
      display: flex;
      position: absolute;
      top: 847px;
      left: 538px;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      background: #06234c;
      padding-right: 1px;
      padding-bottom: 9px;
      width: 256px;
      height: 285px;

      .sIseempresas1 {
        margin-top: 8px;
        width: 104px;
        height: 45px;
      }
    }

    .group71 {
      position: absolute;
      top: 847px;
      left: 833px;
      width: 256px;
      height: 285px;
    }

    .group69 {
      position: absolute;
      top: 846px;
      left: 244px;
      width: 256px;
      height: 286px;

      .rectangle20 {
        display: flex;
        position: absolute;
        top: 1px;
        left: 0;
        align-items: flex-start;
        border-radius: 10px;
        background: #2177a5;
        padding: 230px 74px 7px 75px;
        width: 256px;
        height: 285px;

        .sIsehogar1 {
          width: 107px;
          height: 47px;
        }
      }

      .familiaJovenSusHijos2 {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px 10px 0px 0px;
        width: 256px;
        height: 222px;
      }
    }

    .rectangle23 {
      display: flex;
      position: absolute;
      top: 847px;
      left: 1127px;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      background: #065558;
      padding-bottom: 4px;
      width: 256px;
      height: 285px;

      .imagenDeWhatsApp2023 {
        border-radius: 10px 10px 0px 0px;
        width: 256px;
        height: 221px;
      }

      .sIseagro1 {
        margin-top: 10px;
        width: 106px;
        height: 50px;
      }
    }
  }

  .rectangle192 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 14px;
    background: #00408c;
    padding: 39px 243px 31px 244px;

    .autoWrapper4 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 1px;

      .grupoSiseSinSombra01 {
        width: 185px;
        height: 50px;
      }

      .gRuposisesacuit30715 {
        margin: 28px 0px 0px;
        width: 334px;
        height: 94px;
        line-height: 19px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 300;
      }

      .arrepentimientoDeCom {
        margin: 32px 0px 0px;
        width: 258px;
        height: 25px;
        text-align: center;
        line-height: 14px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 300;
      }
    }

    .rectangle202 {
      margin-top: 199px;
      margin-left: 63px;
      background: #ffffff;
      width: 1px;
      height: 24px;
    }

    .autoWrapper6 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-left: 140px;

      .group24 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-left: 49px;

        .atenciNLas24Hs {
          width: 260px;
          height: 25px;
          text-align: center;
          line-height: 27px;
          letter-spacing: -0.64px;
          color: #ffffff;
          font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 32px;
        }

        .group22 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin: 6px 12px 0px;
          min-width: 237px;

          .vector {
            width: 17px;
            height: 23px;
          }

          .a08002225153 {
            margin: 1px 0px 0px;
            width: 214px;
            height: 28px;
            text-align: center;
            line-height: 27px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 32px;
            font-weight: 600;
          }
        }
      }

      .autoWrapper5 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 139px;
        padding-right: 13px;
        padding-left: 0;

        .solicitarBajaDeServi {
          margin: 6px 0px 0px;
          width: 157px;
          height: 25px;
          text-align: center;
          line-height: 14px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 300;
        }

        .rectangle212 {
          background: #ffffff;
          width: 1px;
          height: 24px;
        }
      }
    }

    .legales {
      margin: 205px 0px 0px 127px;
      width: 56px;
      height: 25px;
      text-align: center;
      line-height: 14px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 300;
    }

    .vector3 {
      margin-left: 67px;
      width: 38px;
      height: 38px;
    }

    .rectangle242 {
      margin-top: 200px;
      margin-left: 34px;
      background: #ffffff;
      width: 1px;
      height: 24px;
    }

    .vector4 {
      margin-left: 5px;
      width: 37px;
      height: 38px;
    }

    .vector5 {
      margin-top: 2px;
      margin-left: 39px;
      width: 29px;
      height: 34px;
    }

    .autoWrapper8 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 5px;
      margin-left: 8px;

      .autoWrapper7 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        padding-right: 2px;
        padding-left: 31px;

        .vector6 {
          width: 37px;
          height: 26px;
        }

        .vector7 {
          width: 38px;
          height: 28px;
        }
      }

      .aFipFormulario960D {
        margin: 32px 0px 0px;
        width: 147px;
        height: 16px;
        text-align: right;
        line-height: 15px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 300;
      }

      .f9601 {
        margin-top: 16px;
        margin-left: 70px;
        width: 76px;
        height: 76px;
      }

      .gestiNDeCookies {
        margin: 32px 0px 0px 22px;
        width: 123px;
        height: 25px;
        text-align: center;
        line-height: 14px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}
