.rse {
  background: #ffffff;
  --content-group-width: 1140px;
  --pad-x: max(24px, calc((min(1920px, var(--sise-vw)) - var(--content-group-width)) / 2));
  overflow-x: clip;
}

@media (max-width: 960px) {
  .rse {
    --pad-x: 16px;
  }

}

@media (max-width: 480px) {
  .rse {
    --pad-x: 16px;
  }

}
