* {
  box-sizing: border-box;
}

.group24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 60px;

  .atenciNLas24Hs {
    width: 260px;
    height: 25px;
    text-align: center;
    line-height: 27px;
    letter-spacing: -0.64px;
    color: #ffffff;
    font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 32px;
  }

  .group22 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin: 6px 12px 0px;
    min-width: 237px;

    .vector {
      width: 17px;
      height: 23px;
    }

    .a08002225153 {
      margin: 1px 0px 0px;
      width: 214px;
      height: 28px;
      text-align: center;
      line-height: 27px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 600;
    }
  }
}
