* {
  box-sizing: border-box;
}

.rectangle23 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #065558;
  padding-bottom: 4px;
  width: 256px;
  height: 285px;

  .imagenDeWhatsApp2023 {
    border-radius: 10px 10px 0px 0px;
    width: 256px;
    height: 221px;
  }

  .sIseagro1 {
    margin-top: 10px;
    width: 106px;
    height: 50px;
  }
}
