* {
  box-sizing: border-box;
}

.group90 {
  display: flex;
  align-items: flex-start;
  width: 944px;
  height: 290px;

  .group101 {
    position: relative;
    margin-top: -13px;
    width: 944px;
    height: 335px;

    .rectangle63 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      background: #d9d9d9;
      padding: 100px 350px 9px 7px;
      width: 928px;
      height: 335px;

      .rectangle57 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-left: 359px;
        border-radius: 10px;
        background: #ffffff;
        padding-top: 11px;
        padding-bottom: 6px;

        .sActualmenteTengo {
          width: 212px;
          height: 38px;
          text-align: center;
          line-height: 19px;
          letter-spacing: 0;
          color: #00408c;
          font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }
      }

      .rectangle58 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 19px;
        margin-left: 359px;
        border-radius: 10px;
        background: #ffffff;
        padding: 20px 0px 15px 1px;

        .sTuveAntes {
          width: 211px;
          height: 21px;
          text-align: center;
          line-height: 19px;
          letter-spacing: 0;
          color: #00408c;
          font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }
      }

      .rectangle60 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 19px;
        margin-left: 359px;
        border-radius: 10px;
        background: #ffffff;
        padding: 10px 26px 7px;

        .noSerALaPrimeraVez {
          width: 160px;
          height: 38px;
          text-align: center;
          line-height: 19px;
          letter-spacing: 0;
          color: #00408c;
          font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }
      }

      .group85 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 5px;
        margin-right: 487px;
        padding-top: 2px;
        min-width: 84px;

        .vector {
          margin-top: 2px;
          width: 18px;
          height: 11px;
          rotate: 90deg;
        }

        .volver {
          width: 64px;
          height: 16px;
          text-align: center;
          line-height: 19px;
          letter-spacing: 0;
          color: #00408c;
          font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 500;
        }
      }
    }

    .experienciaPrevia {
      position: absolute;
      top: 13px;
      left: 0;
      width: 944px;
      height: 17px;
      text-align: center;
      line-height: 16px;
      letter-spacing: 0;
      color: #00408c;
      font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
    }

    .aYaTenSoTuvisteAlarm {
      position: absolute;
      top: 47px;
      left: 0;
      width: 944px;
      height: 38px;
      text-align: center;
      line-height: 26px;
      letter-spacing: 0;
      color: #00408c;
      font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 700;
    }
  }
}
