* {
  box-sizing: border-box;
}

.legales {
  width: 56px;
  height: 25px;
  text-align: center;
  line-height: 14px;
  letter-spacing: 0;
  color: #ffffff;
  font-family: "League Spartan", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
